{% extends 'layout.html' %}
{% block content %}
	<div>
		<div>
			<h1>{{content.title}}</h1>
			<p>
				<label>作者：</label>{{content.user.username}}
			</p>
			<p>
				<label>时间：</label>{{content.addTime | date('Y年m月d日 H:i:s',-8*60)}}
			</p>
			<p>
				<label>阅读量：</label>{{content.views}}
			</p>
			<p>
				<label>评论数：</label>10
			</p>
			<p>{{content.content}}</p>
		</div>
	</div>

	<p>一共有<span class="msgCount"></span>条评论</p>
	{% if userInfo._id %}
	<div class="" id="">
		<p class="text-left">
			<textarea id="messageContent"></textarea>
			<input type="hidden" id="contentId" value="{{content.id}}">
			<button id="messageBtn">提交</button>
		</p>
	</div>
	{% else %}
		<p>你还没有登录，请先登录！</p>
	{% endif %}

	<div class="messageList"></div>

	
	<script type="text/javascript" src="/public/js/view.js"></script>
{% endblock %}